/* Open Sans - Regular 400 */

@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url(../fonts/OpenSans-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}

/* Metal Mania - Regular 400 */

@font-face {
  font-family: 'Metal Mania', cursive;
  src: url(../fonts/MetalMania-Regular.ttf) format('ttf');
  font-style: normal;
  font-weight: 400;
}
